<%# Content Heading %>
<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <%  }) %>
   </ul>
<% } %>

<ul>
    <li><p><a href="/account/send-message">Create New Message</a></p></li>
    <li><p><a href="/account/view-achived/<%= locals.accountData.account_id %>">View <%= locals.count %> Archived Messages</a></p></li>
</ul>

<table id="messageDisplay" class="messageDisplay">
    <thead>
        <tr>
            <th>Received</th>
            <th>Subject</th>
            <th>From</th>
            <th>Read</th>
        </tr>
    </thead>
    <tbody>
        <% locals.messagesArray.forEach(function (message) { %>
            <tr>
                <td><%= message.message_created.toLocaleString('en-US', 'narrow')%></td>
                <td><a href='/account/view-message/<%= message.message_id %>'><%= message.message_subject %></a></td>
                <td><%= message.message_from_firstname %> <%= message.message_from_lastname %></td>
                <td><%= message.message_read %></td>
            </tr>
        <% }) %>
    </tbody>
</table>